
<!DOCTYPE html>
    <html style="background-color:rgb({{bleu}},{{vert}},{{rouge}});">
        <head >  
         
        </head>
		
        <body>
			
			<div class=""><h1 style="color:white;text-align: center";>Hello {{ name }}!</h1></div>

			
        </body>
    </html>